*{
    margin: 0;
    padding: 0;
}

.nav{
    display: flex;
    justify-content: space-between;
    margin: 20px 120px;
}
.logo{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.navbar{
    margin-top: 10px;
}
.navbar a{
    text-decoration: none;
    color: black;
    font-weight:600;
    font-size: 20px;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.5s;
}
.navbar a:hover{
    color: coral;
    text-decoration: underline;
}
.nav button{
    padding: 10px 30px;
    border-radius: 20px;
    border: none;
    background-color: coral;
    font-weight: 600;
}
.nav button:hover{
    border: 1px solid black;
    background-color: transparent;
    cursor: pointer;
}
.banner{
    background-image: url(./banner\ 7.jpeg);
    height: 80vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.banner{
    color: white;
}
.banner-text{
    padding-left: 120px;
    padding-top: 150px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.banner-text h1{
    font-size: 50px;
}
.banner-text span{
    color: red;
    opacity: 98%;
}
.banner button{
    padding: 10px 25px;
    margin-left: 120px;
    font-weight: bold;
    background-color: transparent;
    border: 1.5px solid white;
    border-radius: 20px;
    margin-top: 15px;
    color: white;
}
.banner button:hover{
    background-color: coral;
    border: 1px solid black;
    color: black;
    cursor: pointer;
}
.about{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 30px 120px;
    text-align: center;
}
.about h3{
    margin-bottom: 30px;
}
.about-left{
    width: 35%;
    background-color: transparent;
    float: left;
}
.photo-box{
    width: 200px;
    height: 220px;
    border: 1px solid black;
    text-align: center;
    border-radius: 10px;
    margin-left: 73px;
    overflow: hidden;
}
.photo-box img{
    width: 200px;
    height: 220px;
    
}
.photo-box p{
    margin-top: 53%;
}
.about-right{
    width: 100%;
    background-color: transparent;
    text-align: left;
}
.about-p{
    margin-top: 20px;
}
.about-right button{
    padding: 10px 20px;
    border-radius: 20px;
    background-color: coral;
    border: none;
    margin-top: 20px;
}
.about-right button:hover{
    background-color: transparent;
    border: 1px solid black;
    cursor: pointer;
}
.service{
    margin: 30px 120px;
}
.service-text{
    text-align: center;
}
.box-model{
    display: flex;
    justify-content: space-between;
}
.service-box{
    margin-top: 30px;
    width: 200px;
    height: 250px;
    border: 1.5px solid black;
    text-align: center;
    line-height: 90px;
    border-radius: 10px;
}
.service-box p{
    margin-top: 80px;
    font-size: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.service-box button{
    padding: 10px 40px;
    background-color: coral;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}
.service-box button:hover{
    background-color: transparent;
    border: 1px solid black;
    cursor: pointer;
}